@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
   
}
body{
    color: white;
    font-size: 16px;
    max-width: 1600px;
    margin: 0 auto;
}

.btn-primary{
    background-image: linear-gradient(45deg, #f94d04 0%, #ff00f7 100%);
}
.btn-primary:hover{
    background-image: linear-gradient(45deg, #a200ff 0%, #e14705 100%);
}





.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a0a2e;
    padding: 1.875rem 12.5rem;

}
.navbar>h1{
    font-size:clamp(1.35rem, 0.9vw + 1rem, 3.75rem);
    font-weight: 700;
}
.gradient{
    background: linear-gradient(45deg, #e14705 0%, #a200ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{
    display: flex;
    gap: 2.5rem;
}
.menu-icon{
    display: none;
}
.menu>p{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}
.subscribe-btn{
    padding: 0.625rem 1.875rem;
    background-image: linear-gradient(45deg, #f94d04 0%, #ff00f7 100%);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.subscribe-btn:hover{
    background-image: linear-gradient(45deg, #a200ff 0%, #e14705 100%);
}



.banner-container{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-img-1{
    max-width: 344px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.new-badge{
    position: absolute;
    top: 10%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
    background-color: #01ff88;
    color: rgb(0, 0, 0);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    font-weight: 700;
}
.banner-img-2>img{
    max-width: 200px;
    width: 100%;
}
.banner-img-2{
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    top: 22%;
    left: 32.5%;
    
}
.banner-text{
    text-align: center;
    position: absolute;
    bottom: 7%;
}
.banner-text>h1{
    font-size: clamp(2.25rem, 2.5vw + 1rem, 4.5rem);
    font-weight: 700;
    margin-bottom: 1rem;
}
.banner-text>p{
    font-size: 1rem;
}
.btn{
    padding: 0.625rem 1.875rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}
.Subscribe{
    background-color: transparent;
    border: 1px solid #01ff88;
    color: #01ff88;
}
.Subscribe:hover{
    background-color: #01ff88;
    color: rgb(0, 0, 0);
}

.Podcast-section{
    padding: 3.75rem 12.5rem;
    background-color: #12051e;
    text-align: center;
}

.Podcast-section>h2{
    font-size: clamp(1.875rem, 2.5vw + 1rem, 3.75rem);
    font-weight: 700;
    margin-bottom: 1rem;
}
.Podcast-section>p{
    font-size: 1rem;
    margin-bottom: 2.5rem;
}
.podcast-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2.5rem;
    justify-content: center;
    
}
.podcast-card{
    background-color: #1a0a2e;
    border-radius: 1rem;
    padding: 1.25rem;
    width: 200px;
    text-align: left;
    box-shadow: 5px 5px 15px rgba(247, 247, 247, 0.3);
}
.podcast-cards>.podcast-card>h2{
    font-size: 2.25rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #01ff88;
}
.podcast-card>p{
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: rgba(128, 128, 128, 0.892);
}

.Why-Choose-TechWave>h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
   padding: 2rem;
    
    background-color: #1a0a2e;
}
.layout-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "p p p m m m m m m m m m"
    "p p p m m m m m m m m m"
    "p p p g g g g g g g g g"
    "p p p g g g g g g g g g"
    "e e e e e e e e e r r r"
    "e e e e e e e e e r r r"
    "e e e e e e e e e r r r";
    gap: 1.875rem;
    padding-top: 2.5rem;
   padding: 3.75rem 12.5rem;
   background-color: #1a0a2e;
}

.audio-quality{
    grid-area: p;
    padding: 6.6875rem 2.5rem ;
    background-color:rgb(40, 3, 88);
}
.audio-quality:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #3b0581d5;
}
.Mobile-Friendly{
    grid-area: m;
    padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Mobile-Friendly:hover{
     transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #3f0589d5;
}
.Global-Community{
    grid-area: g;
     padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Global-Community:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #410391d5;
}
.Exclusive-Interviews {
    grid-area: e;
     padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Exclusive-Interviews:hover {
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #360478d5;
}
.Rich-Resources{
    grid-area: r;
     padding: 2.5rem 2.5rem ;
    background-color: rgb(40, 3, 88);
}
.Rich-Resources:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #3d0586d5;
}
.layout{
    box-shadow: 10px 10px 50px rgba(47, 16, 87, 0.489);
    border-radius: 39px;
}
.layout>h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.layout>p{
    color: rgba(128, 128, 128, 0.682);
}

.featured-Episodes{
    padding: 7.5rem 12.5rem;
    background-color: #1a0a2e;
    /* margin-bottom: 7.5rem; */

}
.featured-titel>h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    
}
.featured-cards{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 3rem;
    justify-content: center;
}
.video{
    background-color: #38077992;
    box-shadow: 10px 10px 50px #32056cb9;
    border-radius: 39px;
    position: relative;
}
.video:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #6b07eed5;
}

.video>h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin:1.5rem ;
}
.video>p{
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.593);
    margin:0.5rem 1.5rem 1.5rem 1.5rem;

}
.iframe{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center;
}
.time{
    color: #01ff88;
    padding-left: 2.5rem;
     position: absolute;
}
.time-1{
    bottom: 10px;
}
.time-2{
    bottom: 10px;
}
.time-3{
    bottom: 10px;
}
.Meet-the-Host{
    padding: 7.5rem 12.5rem;
    background-color: #12051e;
}   

.Meet-the-Host>h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
   
    margin-bottom: 2.5rem;
}
.alex-kumar-card{
    display: flex;
    gap: 1.5rem;
    padding: 2.5rem;
    border-radius: 39px;
    background-color: #23034da1;
 
}
.alex-kumar-card:hover{
    transform: rotateX(5deg) rotateY(5deg) scale(1.10);
    box-shadow: 20px 20px 40px  #4b06a49d;
}
.alex-umar-info>h3{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.alex-umar-info>p{
    color: rgba(128, 128, 128, 0.663);
    margin-bottom: 1rem;
}
.icons>img{
    margin-left: 0.5rem;
}

.footer-content{
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 33.75vh;


}
.footer-logo>h1{
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
    padding-top: 3rem;
    text-align: center;
}
.footer-logo>h1>.grediyent {
    background: linear-gradient(90deg, #f700ff, #f04d07);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-content>.sponsors{
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
 }    

.footer-bottom{
    text-align: center;
    padding: 2rem;
    color: rgba(255, 255, 255, 0.616);
    background-color: #1a0a2e;

}


















@media screen and (max-width:576px) {
    .navbar{
        padding: 1.875rem 5%;
    }
    .menu-icon{
        display: block;
        font-size: 1.5rem;
        cursor: pointer; 
    }
    .menu, .subscribe-btn{
        display: none;
    }

    .banner-img-1{
    max-width: 188px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: absolute;
    top: 35%;
    left: 35%;}
.banner-img-2>img{
    max-width: 460px;
    width: 100%;
}
.new-badge{
    position: absolute; 
    top: 10%;
    right:0%;

}
.banner-img-2{
   justify-content: center;
   align-items: center;
    top: 10%;
    
    left: 50%;
    }

    

.Podcast-section{
    /* padding: 3.75rem 12.5rem; */
    background-color: #12051e;
    text-align: center;
}

.Podcast-section>h2{
    font-size: clamp(1.875rem, 2.5vw + 1rem, 3.75rem);
    font-weight: 700;
    margin-bottom: .75rem;
}
.Podcast-section>p{
    font-size: .875rem;
    margin-bottom: 2.5rem;
}
.podcast-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    justify-content: center;
    
}
.podcast-card{
    background-color: #1a0a2e;
    border-radius: 1rem;
    padding: 1.25rem;
    width: 200px;
    text-align: left;
    box-shadow: 5px 5px 15px rgba(247, 247, 247, 0.3);
}
.podcast-cards>.podcast-card>h2{
    font-size: 2.25rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #01ff88;
}
.podcast-card>p{
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: rgba(128, 128, 128, 0.892);
}















  
    

    .Why-Choose-TechWave{
    background-color: rgb(33, 8, 66);
    padding: 7.5rem 0rem;
    
    }
    .layout-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "p p p p p p p p p p p p"
    "m m m m m m m m m m m m" 
    "g g g g g g g g g g g g"
    "e e e e e e e e e e e e"
    "r r r r r r r r r r r r";
    gap: 1.875rem;
    padding-top: 2.5rem;
    }
    .layout-container {
    padding: 3rem 1.25rem;
    }
    .featured-Episodes{
    padding: 7.5rem 0.5rem;
    }
    .featured-titel>h2{
    font-size: 1.5rem;
    }
    .featured-cards{
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    }
    .Meet-the-Host{
    padding: 7.5rem 4rem;
    text-align: center;
    }
    .Meet-the-Host>h2{
    font-size: 1.5rem;
    font-weight: 700;
    }
    .alex-kumar-card{
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    }
    .alex-umar-info>h3{
        font-size: 1rem;
    }
    .alex-umar-info>p{
        font-size: 0.8125rem;
    }
    .footer-content>.sponsors{
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    justify-content: center;
    gap: 0.5rem;
    padding-top: 0.25rem;
 } 

}